*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body{
    background-color: #3c515d
}

.container{
    height: 90%;
    width: 700px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    margin-top: 10px;
}

.input-nome-apto{
    height: 28px;
    width: 200px;
    padding-left: 5px;
}

.cadastrar{
    height: 28px;
    width: 122px;
    background-color: #e4d562;
    color: black;
}

.cadastrar:hover{
    background-color: rgb(249, 241, 181);
    cursor: pointer;
}

.apartamentos{
    width: 1fr;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.apto{
    background-color: #40957f;
    height: 150px;
    width: 150px;
    margin: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.apto-numero{
    height: 20%;
}

.apto-nome{
    height: 60%;
}

.controles{
    display: flex;
    justify-content: space-evenly;
}

.apagar{
    background-color: rgb(198, 28, 28);
    color: beige;
    height: 28px;
    width: 50px;
    font-size: 12px;
}

.apagar:hover{
    background-color: rgb(245, 14, 14);
    cursor: pointer;
}

.abrir-apto{
    background-color: rgb(4, 153, 4);
    color: beige;
    height: 28px;
    width: 50px;
    font-size: 12px;
}

.abrir-apto:hover{
    background-color: rgb(6, 208, 6);
    cursor: pointer;
}

.aptoDetalhado{
    background-color: #e4d562;
    height: 500px;
    width: 500px;
    margin-top: 10px;
    padding: 10px;
}

.voltar-tela-principal{
    background-color: rgb(12, 70, 195);
    color: beige;
    height: 28px;
    width: 50px;
    font-size: 12px;
}

.voltar-tela-principal:hover{
    background-color: rgb(52, 111, 240);
    cursor: pointer;
}